<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<connectionStrings>
  <add name="cnstr" connectionString="Server=10.12.12.15;Database=bpjsrs;Uid=sa;Pwd=sa;"/>
</connectionStrings>
</configuration>
